.modal-background {
	
	margin: 0; /* убираем отступы */
	padding: 0; /* убираем отступы */
	position: fixed; /* фиксируем положение */
	top: 0; /* растягиваем блок по всему экрану */
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5); /* полупрозрачный цвет фона */
	z-index: 9000;; /* выводим фон поверх всех слоев на странице браузера */
	opacity: 0; /* Делаем невидимым */
	pointer-events: none; /* элемент невидим для событий мыши */
}

/* при отображении модального окно - именно здесь начинается магия */
.modal-background:target {
    
	opacity: 1; /* делаем окно видимым */ 
    pointer-events: auto; /* элемент видим для событий мыши */
}