#mc-panel {

	background: url("/resources/images/mc-background.png");
}

#mc-name-logo{

	position: relative;
	flex: 1 1 auto;
	
	margin: 2.5px 7px 0 7px;
	
	width: calc(100% - 17px);
}

#mc-description-text {
	
	color: #4AEDD1;
	font-weight: bold;
	margin-top: 8px;
	line-height: calc(150% + 1px);
}

/*
#mc-description-text {

	color: #4AEDD1;
	
	margin-top: 8px;
	line-height: calc(150% + 1px);
	letter-spacing: 1.5px;
	font-family: Mc-font;
	font-smooth: never;
	-webkit-font-smoothing: none;
}
*/

#mc-status-text {
	
	font-family: Mc-font;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 5 5 0 0;
	font-smooth: never;
	-webkit-font-smoothing: none;
}

#mc-toggle-container {
	
	right: 7px;
}