#tg-panel {

	background: #EDEEF0;
}

#tg-name-logo {
	
	position: relative;
	flex: 1 1 auto;
	
	margin: 5px 10px 0 10px;
	
	width: calc(100% - 22px);
}


#tg-description-text {

	color: #37AEE2;	
	margin-top: 8px;
	margin-left: 15px;
	line-height: calc(150% + 1px);
}