.modal {
	
	box-sizing: border-box;
	
	width: 100%;
	max-width: 30vw;
	min-width: 350px;
	margin: 10% auto;
	padding: 0.8%;
	background: #fff;
	
	position: relative;
	
	z-index: 9001;
}

.modal-item-top-container {
	
	display: flex;
	
	position: relative;

	margin-bottom: 0.8vh;
	
	padding: 10px;
}

.modal-item-table {
	
	display: flex;
	
	flex-direction: column;
	
	position: relative;
	
	margin: auto;

	padding: 10px;
}

.modal-item-table-row {
	
	display: flex;
	
	flex-direction: row;
	
	position: relative;
	
	margin: auto;
	width: 100%;
	
	margin-bottom: 10px;
}

.modal-item-table-tcell {
	
	display: inline-block;
	position: relative;
	height: 100%;
	
	flex-grow: 1;
	width: 8vw;
	max-width: 100px;
	min-width: 80px;

	margin: auto;
	margin-right: 10px;
}

.modal-item-table-vcell {
	
	display: inline-block;
	
	position: relative;
}

.modal-item-text {

	position: relative;

	font-family: Verdana;
	font-size: 16;
	color: #42648b;
	
	text-align: left;
	
	line-height: 120%;
}

.modal-item-icon {
	
	flex-grow: 0;
	
	position: relative;
	
	width: 64px;
	height: 64px;
}

.modal-item-name {
	
	display: inline-block;
	
	box-sizing: border-box;
	
	min-width: 150px;
	
	flex-grow: 1;
	
	position: relative;

	margin: 0.8vh 0.8vw 0.8vh 0.8vw;
	
	font-family: Verdana;
	font-size: 22 !important;
	color: #7892A3;	
}